@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
   
*{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      /* border: 1px solid red; */
    }
    html{
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
    }

    body{
      background-color: hsl(212, 45%, 89%);
    }

.container{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;

}
    .card{
        background-color: hsl(0, 0%, 100%);
        padding:20px;
        border-radius: 10px;
        margin: auto;
        box-shadow: 1px 1px 2px hsl(212, 45%, 89%);
    }
    h2{
        text-align: center;
        font-weight: 700;
        margin: 20px 10px 0 10px;
    }

    p{
        color:  hsl(220, 15%, 55%);
        font-size: 16px;
        text-align: center;
        margin: 20px 10px 20px 10px;
        padding: 0 20px 10px;
        font-weight: 400;
    }
    .qrcode{
        width: 100%;
        border-radius: 10px;
    }
    footer{
        padding:10px;
    }
    .attribution{ 
        font-size: 11px; 
        text-align: center; 
    }
    .attribution a{ 
        color: hsl(228, 45%, 44%); 
    }


    @media screen and (max-width:400px) {
        .card{
            margin: auto 20px;
        }
        p{
           
            margin: 20px 10px 20px 10px;
        }
        
    }