@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
   
*{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      border: 1px solid red;
    }

    body{
      background-color: hsl(212, 45%, 89%);
      font-family: 'Outfit', sans-serif;
      margin: auto;
    }

main{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100vh;
    margin: auto;


}
    .container{
        background-color: hsl(0, 0%, 100%);
        padding:20px;
        border-radius: 10px;
        margin: auto;
    }
    h2{
        text-align: center;
        font-weight: 700;
    }

    p{
        color:  hsl(220, 15%, 55%);
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
        padding: 0 20px;
        font-weight: 400;
    }
    .qrcode{
        width: 100%;
        border-radius: 10px;
    }
    .attribution{ 
        font-size: 15px; 
        text-align: center; 
    }
    .attribution a{ 
        color: hsl(228, 45%, 44%); 
    }
